<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YouTubeTestSela.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YouTubeTestSela.Properties.Settings>
            <setting name="Browser" serializeAs="String">
                <value>chrome</value>
            </setting>
            <setting name="Name1" serializeAs="String">
                <value>test1sela@gmail.com</value>
            </setting>
            <setting name="Name2" serializeAs="String">
                <value>test2sela@gmail.com</value>
            </setting>
            <setting name="Password1" serializeAs="String">
                <value>yc963852741</value>
            </setting>
            <setting name="Password2" serializeAs="String">
                <value>yc963852741</value>
            </setting>
            <setting name="ChromeDriverExe" serializeAs="String">
                <value>C:\Users\כהן\Documents\ChromeDriver_v75\chromedriver.exe</value>
            </setting>
            <setting name="SongName" serializeAs="String">
                <value>Santana  </value>
            </setting>
            <setting name="SpecificSong" serializeAs="String">
                <value>Santana - Maria Maria </value>
            </setting>
        </YouTubeTestSela.Properties.Settings>
    </userSettings>
</configuration>